<a href="https://colab.research.google.com/github/sisbhumi/MachineLearning/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Print square of natural number (1,10)
l = [ i*i for i in range(1,11)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#2. To check whether 6 is present or not
n = int(input("Enter a number "))
s = str(n)
if '6' in s:
  print('6 is present')
else:
  print('6 is not present')

Enter a number 452651
6 is present

In [ ]:
#3. count number of spaces in string
n=input("Enter a string ")
L=[i for i in n if i==" "]
print(len(L))

Enter a string Hello guyz
1

In [ ]:
#4. write table of 3
li=[3*i for i in range(1,11)]
li

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
#5 find numbers between 1-1000 divisible by 2 and 5
li=[i for i in range(1,1001) if (i%5==0 and i%2==0) ]
for x in li:
  print(x,end=" ")

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300 310 320 330 340 350 360 370 380 390 400 410 420 430 440 450 460 470 480 490 500 510 520 530 540 550 560 570 580 590 600 610 620 630 640 650 660 670 680 690 700 710 720 730 740 750 760 770 780 790 800 810 820 830 840 850 860 870 880 890 900 910 920 930 940 950 960 970 980 990 1000